__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv/
.env
.poetry/
.pytest_cache/
.mypy_cache/
.ruff_cache/
coverage.xml
htmlcov/
models/*
!models/.gitkeep
*/__pycache__/
*/*/__pycache__/
CLOUD_RUN_DEPLOYMENT.md